@import '~scss/variables';

.replica {
  display: flex;
  // width: 359px;
  width: 300px;
  height: 100%;
  margin-right: 12px;
  &Count {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-width: 335px;
    min-width: 276px;
    margin-right: 12px;
  }
}
