@import '~scss/variables';

.replica {
  display: flex;
  width: 359px;
  height: 100%;
  margin-right: 12px;
  &Count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 335px;
    margin-right: 12px;
  }
}
